html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.nav {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.nav--title {
    color: white;
    font-size: 3rem;
    flex: 2;
}

.nav--links {
    text-decoration: none;
    text-transform: none;
    font-size: 2rem;
    color: #3661d7;
    flex: 0.2;
    text-align: center;
}

.title-section {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.title-section--1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: #3661d7;
}

.title-section--2 {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e8eeff;
    color: #3661d7;
}

.title-1, .title-2, .letter-r {
    font-size: 20rem;
    font-weight: 500;
}

.title-1 {
    transform: translateY(-35%);
    color: #ffffff;
}

.title-2 {
    transform: translateY(-10%);
}

.letter-r {
    transform: translateY(-35%);
}

.main-btn {
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
}

.get-started-btn {
    background-color: #3661d7;
    color: white;
    font-size: 3rem;
    text-decoration: none;
    text-transform: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(99, 99, 99);
    background-color: #d0dcff;
    padding: 4rem 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 40%;
}

.footer--title {
    font-size: 2rem;
}

.footer--links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.footer--links-about, .footer--links-tos, .footer--links-policy {
    text-decoration: none;
    text-transform: none;
    color: rgb(99, 99, 99);
}

.footer--logos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer--logos img {
    width: 70%;
}

.x-logo {
    width: 60% !important;
}


