* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    /* height: 100vh; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    /* background-color: #e8eeff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.gradient-bg {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; */
}

.dashboard-content {
    min-height: 100vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    letter-spacing: 0.3rem;
}

.sidebar {
    width: 18vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3661d7;
    padding: 3rem 0;
    color: white;
}

.heading {
    height: 20%;
    width: 100%;
    line-height: 3rem;
    text-align: center;
}

.sidebar--tabs {
    height: 80%;
}

.title-link {
    font-size: 3.5rem;
    color: white;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.3rem;
}

.sidebar--tabs {
    width: 100%;
}

.sidebar--tabs ul {
    list-style: none;
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sidebar--tabs li {
    width: 100%;
    padding-left: 18%;
    display: flex;
    gap: 1rem;
    transition: all 0.3s;
    align-items: center;
}

.tab-link:hover {
    background-color: #1c41a7 !important;
    /* color: black; */
    transition: all 0.3s;
    cursor: pointer;
    transform: scale(1) !important;
}

.tab-link {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-link:hover {
    cursor: pointer;
}

.dashboard-icon {
    height: 4rem !important;
    width: 4rem;
    align-self: center;
}

.add-icon {
    height: 3.1rem;
    width: 3.1rem;
    align-self: center;
    margin: 0 0.3rem;
}

.add-span {
    padding-left: 0.1rem;
}

.content {
    width: 82vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
}

.content--heading-div {
    height: 10%;
    padding: 3rem 10rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.signout-link {
    text-decoration: none;
    color: #3661d7;
    height: auto !important;
}


.content--grid-div {
    height: 92%;
    background-color: #eff3ff;
    padding: 3rem 7rem;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* background: url("/assets/images/sincerely-media-gPnHi8AmO5k-unsplash.jpg");
    background-size: cover; */
}

.sidebar-btns {
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}

.sidebar-btns:hover {
    cursor: pointer;
}

/* VIEW JOBS SECTION */

.content--grid {
    display: grid;
    display: none;
    gap: 3rem;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    justify-content: center;
    align-items: start;
}

.card {
    background-color: white;
    width: 80%;
    border-radius: 1rem;
    justify-self: center;
    align-self: center;
    padding: 1rem 2rem;
    background-color: #3661d7;
    color: white;
    position: relative;
    transition: all 0.3s;
}

.card:hover {
    cursor: pointer;
}

.card-hovered {
    transform: scale(1.1);
    transition: all 0.3;
}

.card-main {
    /* grid-column: 1/4; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    pointer-events: none;
}

.card-main-content {
    display: flex;
    flex-direction: column;
}

.card-main-content-title {
    font-weight: 400;
}

.card-main-content-value {
    align-self: flex-end;
}

.company-name, .position-name {
    font-weight: 400;
}

.status {
    font-size: 1.4rem;
}

.job-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6rem;
    font-weight: 400 !important;
}

.edit-icon {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 10%;
    height: auto;
}

.update-card-popup {
    position: fixed;
    z-index: 100;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 1rem;

    /* display: flex; ADDED IN JAVASCRIPT CODE*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 6rem 8rem;
}

.update-card-popup label, .update-card-popup input, .update-card-popup select {
    font-size: 1.5rem;
}

.update-card-popup input, .update-card-popup select {
    width: 30rem;
    padding: 1rem 1rem;
    color: black;
    font-family: "Poppins", sans-serif;
    border: 0.5px solid black;
    border-radius: 0.6rem;
}

.fields {
    display: flex;
    flex-direction: column;
}

.update-card-backdrop, .confirm-backdrop {
    background-color: black;
    opacity: 0.5;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.update-popup-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.update-btn, .cancel-btn, .delete-btn {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    border: none;
    transition: all 0.1s;
}

.update-btn {
    /* background-color: #3661d7; */
    background-color: #f5f5f5;
    color: black;
}

.update-btn:hover, .cancel-btn:hover, .delete-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.1s;
}

.delete-btn {
    grid-column: -3/-1;
    background-color: red;
    color: white;
}

.confirm-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 4rem;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 200;
}

.confirm-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.confirm-yes, .confirm-no {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.6rem;
    transition: all 0.5s;
}

.confirm-yes {
    background-color: red;
    color: white;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.1s;
    cursor: pointer;
}

.confirm-question {
    font-size: 2rem;
}


/* ADD JOB SECTION */

.add-job-div {
    width: 50%;
    height: 70%;
    background-color: white;
    margin: 5rem 3rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #3661d7; */
    color: black;
    border-radius: 1rem;
}

.add-job-title {
    font-size: 4rem !important;
    height: 20%;
}

.add-job-form {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0rem 0;
}

.add-job-div input, .add-job-div select {
    width: 100%;
    border-radius: 0.5rem;
    height: 3rem;
    border: 1px solid gray;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    color: black;
    font-family: "Poppins", sans-serif;
}

.add-job-div select {
    padding: 1rem 0.5rem;
    height: auto;
}

.form-add-btn {
    font-size: 2rem;
    color: white;
    background-color: #3661d7;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem 0;
}

.form-add-btn:hover {
    background-color: #1c41a7;
    cursor: pointer;
}

.msg {
    font-size: 1.5rem;
    display: none;
}





